{% extends "seller/seller_base.html" %}

{% block title %}
  Seller | Products Page
{% endblock title %}


{% block content %}
  <center>
    <h1>Welcome My Products Page</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Slno</th>
      <th scope="col">PID</th>
      <th scope="col">Pname</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Discount</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
      <th scope="col">Stock</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for product in user.products.all %}
      <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{product.pid}}</td>
      <td>{{product.pname}}</td>
      <td>{{product.desc|truncatewords:'5'}}</td>
      <td>{{product.price}}</td>
      <td>{{product.discount}}</td>
      <td>{{product.category}}</td>
      <td>{{product.brand}}</td>
      <td>{{product.stock}}</td>
      <td><a href="{% url 'update_item' product.pk %}"><button type="button" class="btn btn-warning">update</button></a>
        <button type="button" class="btn btn-danger">Delete</button></td>

    </tr>
    {% endfor %}
    
  </tbody>
</table>
  </center>
{% endblock content %}