{% extends "seller/seller_base.html" %}

{% block title %}
Seller | Registration Page
{% endblock title %}

{% block content %}
<center>

    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
    <h1>seller_register</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{empty_seller_form.as_p}}
        {{empty_seller_profile_form.as_p}}
        <input type="submit" value="Register">
    </form>
</center>
{% endblock content %}