{% extends "customer/customer_base.html" %}

{% block title %}
  Customer | Home
{% endblock title %}


{% block content %}
  <center>
    <h1>
        Welcome to home page
    </h1>
    {% for product in products %}
      <div class="card" style="width: 18rem;">
  <img src="{{product.picture.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product.pname}}</h5>

    <h5 class="card-title">{{product.discounted_price }}</h5>
    <p class="card-text">{{product.desc}}</p>
    <a href="{% url 'add_to_cart' product.pk %}" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
    {% endfor %}
  </center>
{% endblock content %}